body {
  background-image: url("https://static.pexels.com/photos/1862/summer-sunshine-alcohol-drink.jpg");
  background-size: cover;
  background-color: #754719;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  margin: 0;
}

#age-check{
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: gray;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
}

h1{
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  margin-top: 13%;
  margin-bottom: 0;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 45px;
  margin-top: -1%;
  margin-bottom: 2%;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0;
}

select{
  margin-top: 1%;
}
