body {
  background-image: url("https://static.pexels.com/photos/1862/summer-sunshine-alcohol-drink.jpg");
  background-size: cover;
  background-color: gray;
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

h1 {
  font-size: 150px;
  margin: 0 auto;
  color: white;
}

.table {
  margin: 0 auto;
  margin-top: -120px;
}

th {
  color: white;
  font-size: 40px;
}

#beer-block {
  border: 15px solid black;
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  height: 150px;
  width: 150px;
}

#beer-block-elements {
  text-align: center;
  margin-top: 40px;
}
