body {
      background-image: url("https://static.pexels.com/photos/1862/summer-sunshine-alcohol-drink.jpg");
      background-size: cover;
      background-color: #754719;
      background-blend-mode: soft-light;
      background-attachment: fixed;
      margin: 0;
}

header {
      position: fixed;
      top: 0px;
      width: 100%;
      background-color: rgba(0, 0, 0, 1);
      z-index: 2;
}

ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      margin-left: -2%;
}

li {
      display: inline-block;
      color: #D3D3D3;
}

#barley-main-header {
      font-family: 'Lato', sans-serif;
      font-size: 55px;
      color: #D3D3D3;
      margin: 0;
}

.register {
      font-family: 'Lato', sans-serif;
      float: right;
      position: relative;
      right: -420%;
      font-size: 30px;
      padding-left: 10px;
      margin-top: 6%;
}

#add-a-brew {
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: #D3D3D3;
      font-size: 45px;
      margin-top: 5%;
}

.table {
      margin: 0 auto;
      margin-top: -1.5%;
}

th {
      font-family: 'Lato', sans-serif;
      color: #D3D3D3;
      font-size: 35px;
}

input {
      background-color: rgba(0, 0, 0, 0.6);
      color: #D3D3D3;
      font-size: 25px;
      font-family: 'Lato', sans-serif;
      border: 0;
}


.add-beer{
      font-size: 20px;
      font-family: 'Lato', sans-serif;
}

#beer-block {
      border: 15px solid black;
      height: 10%;
      width: 30%;
      background-color: #D3D3D3;
      opacity: .8;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 5%;
      z-index: 1;
}

img {
      height: 200px;
      width: 200px;
      border: 5px solid black;
      margin: 10px;
      margin-bottom: 0;
}

.name {
      font-family: 'Lato', sans-serif;
      font-size: 30px;
}

.style {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

button {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
}

.edit-beer {
      margin: 2%;
}

.delete-beer {
      margin: 2%;
}

#beer-block-elements {
      text-align: center;
      margin-top: 30px;
}

#beer-map {
      float: right;
      margin-top: 8%;
      margin-right: 2%;
      margin-bottom: .5%;
      margin-left: 2%;
      text-align: center;
}

iframe {
      border: 5px solid black;
      height: 20vw;
      width: 30vw;
}

#map-footer {
      font-family: 'Lato', sans-serif;
      color: white;
      font-weight: bold;
      margin: 0;
      position: relative;
}

/** modal window styles **/

#logintrigger {
      text-decoration: none;
      color: #D3D3D3;
}

#signuptrigger {
      text-decoration: none;
      color: #D3D3D3;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width: 40%;
  padding: 15px 20px;
  background: #f3f6fa;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border: 5px solid black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#loginform { /* no default styles */ }

#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }

#signupmodal {
  width: 40%;
  padding: 15px 20px;
  background: #f3f6fa;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border: 5px solid black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#signupform { /* no default styles */ }

#signupform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }

.txtfield {
  display: block;
  width: 50%;
  padding: 6px 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}
